.edit-btn {
    background-color: #ff383c;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 5px
}

form {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input {
    border: 2px solid #ff383c;
    border-radius: 2px;
    align-self: center;
}
