.inner-container-reviews{

    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.outter-container-reviews {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 2px;
    /* width: 25%; */
    overflow-wrap: break-word;
    inline-size: 28%;
}


.h5 {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.deleteReviewButton{
    background-color: #ff383c;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 5px
}
