.spot-image {
    height: 250px;
    /* display: flex;
    flex-wrap: wrap;
    align-content: flex-start; */
    width: 250px;
    border-radius: 5%;
    /* flex-direction: row; */

}

/* .spot-link {
    margin-top: 20px;
    width: 10%;
} */

.avg-rating {
    margin: 0;
    display: flex;
    justify-content: flex-end;

}

.spotCard {
    width: 50%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 4%;

}

.cardOuterContainer {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-content: center;
}

.cardInnerContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 30px;
    grid-gap: 25px;
    margin-right: 5%;
    padding-bottom: 30px;
    justify-content: space-between;

}

.address-text {
    font-size: 18px;
    text-decoration: none;
    color: black;

}

.spot-details {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 200px;

}

.spot-name {
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    margin: 2px;
    color:darkgrey;
    text-decoration: none;
}

.spot-price {
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    margin: 2px;
    color: black;
}

.avg-rating {
    color: black;
}

.footer {
    position: fixed;
    width: 100%;
    align-items: center;
    border-top: 2px solid rgb(215,215,215);
    bottom: 0;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }
