.spot-card {
    text-align: left;
    width: 800px;

}

.spot-container {
    margin-left: 80px;
    margin-top: 30px;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}

h1 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.delete-btn {
    background-color: #ff383c;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.host-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.spot-details {
    font-size: 18px;
    display: flex;
    font-style: underline;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.stock-images {

display: flex;
flex-direction: column;
margin: 4px;

}

/* .review-details {
    border: 1px;
} */

.small-img-container {

    display: flex;
    margin-bottom: 14px;
}

.thumbnail {
    height: 150px;
    border-radius: 8px;
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
    width: 100%;
}

 .thumbnail2 {
    width: 250px;
    height: 240px;
    object-fit: cover;
    border-top-right-radius: 20px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 310px;
    overflow: hidden;
}


.stars-rating {
    padding: 3px;
}

.description-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer {
    z-index: -1;
    position: relative;
}
