
.navbar-container {
    text-align: right;
    border-bottom: 1px solid rgb(215, 215, 215);
    color: black;
    height: 60px;
    justify-content: space-between;
    display: flex;
}

.user-info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo-name {
    height: 1000px;
}

.welcome-container {
    display: flex;
    justify-content: space-between;
}

.user-dropdown {
    display: flex;
    position: relative;
    display: inline-block;

}

.user-profile-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #ff383c;
    color: white;
    border: 3px solid #ff383c;
    border-radius: 10px;
    padding: 1px;

}

.logout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #ff383c;
    color: white;
    border: 3px solid #ff383c;
    border-radius: 10px;
    padding: 1px;
}
